.weather {
  margin: 3rem ;
  border: 3px solid papayawhip;
  border-radius: 20px;
  width: max-content;
  background: linear-gradient(papayawhip, white);
 padding-bottom: 4px;
  width: max-content;
  padding: 32px ;
}



.weather .title {
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
}
.weather form {
  margin-top: 30px;
}
.weather form input {
  width: 450px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid black;
  margin-right: 10px;  
}

.weather form input:focus {
  outline: none;
  border-bottom: 3px solid black;
}
